.buttonHome{
    color: black;
    display: flex;
    justify-content: center;
}
.box{
    width: 210px;
  background-color: #fff;
    margin-top: -18px;
    margin-left: -65px;
} 
.render {
    display: flex;
    margin-bottom: 5px;
    // h1{
    //     border-bottom: 1px solid #ccc
    // }
}